*{
	margin: 0;
	padding: 0;
}
/* NAVBAR */
.first-section{
	border-bottom: 3px solid #4E2E24;
	.navbar-inverse{
		background-color: #48170D;
		.container{
			div{
				ul{
					li{
						a{
							position: relative;
							left: 350px;
						}
					}
				}
			}
		}
	}
/* CAROUSEL */
	.carousel{
		div{
			div{
				img{
					position: relative;
					width: 1330px;
					height: 450px;
					top: 50px;
					background-size: cover;
  					background-position: center center;
				}
			}
		}
	}
}
/* OUR SERVICES */
.third-section{
	background-color: $back-color;
	.row{
		div{
			img{
				border-color: $border-color;
				background-color: $border-color;
				position: relative;
				bottom: 50px;
			}
			h4{
				font-size: 17px;
				font-weight: bold;
				@include titulo-parrafo();
			}
			p{
				font-family: $font-sans;
				font-size: 15px;
				padding: 18px;
				text-align: justify;
				@include titulo-parrafo();
			}
			a{
				font-family: $font-sans;
				background-color: $border-color;
				font-weight: bold;
				margin-left: 120px;
				@include titulo-parrafo();
			}
		}
	}
}
/* WELCOME TO BEAUTY AND HAIR */
.fourth-section{
	background-color: $back-color2;
	padding: 75px;
	border-bottom: 3px solid $border-color;
	.row{
		div{
			img{
				border-radius: 13px;
			}
		}
		div{
			.row{
				div{
					h3{
						color: #E15C2D;
						margin-bottom: 30px;
					}
					p{
						font-family: $font-sans;
						color: $font-color;
						margin-left: 20px;
						font-size: 14px;
					}
					i{
						padding-right: 5px;
					}
				}
			}
		}
	}
}
/* ABOUT US - GIFT PROGRAM */
.fifth-section{
	background-color: $back-color3;
	border-bottom: 3px solid $border-color;
	padding: 60px 40px 60px 40px;

	.row{
		div{
			.row{
				div{
					h3{
						color: $border-color;
					}
				}
				div{
					img{
						border-radius: 10px;
					}
				}
				div{
					p{
						color: $border-color;
						font-family: $font-sans;
					}
				}
			}
		}
	}
}